.ng-valid[required], .ng-valid.required{
border-left: 5px solid green;
}

input.ng-invalid{
border-left: 5px solid red;
}


body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

md-toolbar-row {
  justify-content: space-between;
}

nav{
	background-color: #003167
}
.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.backgroundAlign{
    margin-left: 15%;
    width: 70%;
    padding-left: 10%;
    padding-bottom: 5%;
    background-color: white;
}
